.button.is-success, .button.is-success:active {
	background-color: #717fe0;
}

.button.is-success:hover {
	background-color: #222;
}

button.image-gallery-right-nav:hover {
	background-color: rgba(0, 0, 0, .9);
}
